{% include "header.html" %}

<title>{{ course_name }} - Administration</title>
</head>
<body>

<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">

<div class="block">
<a href="{{ url_for('home', course=course) }}" class="button is-link is-small">Home</a>
</div>


{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
{{ message }}
<br>
{% endfor %}
{% endif %}
{% endwith %}

<br>
<a href="{{ url_for('load_questions', course=course) }}" class="button is-small">Load questions</a><br>
<br>
<a href="{{ url_for('edit_parameters', course=course) }}" class="button is-small">Edit parameters</a><br>
<br>
<a href="{{ url_for('add_lives', course=course) }}" class="button is-small">Add lives to admin</a>
<br>


<br>
<strong>Questions</strong>
<br>

Number of questions: {{ questions_number }}<br>
<a href="{{ url_for('all_questions', course=course) }}">Display questions</a><br>
<a href="{{ url_for('all_questions_gift', course=course) }}">Display questions (GIFT)</a><br>
<br>
<a href="{{ url_for('saved_questions', course=course) }}">Display saved questions</a><br>
<a href="{{ url_for('reset_saved_questions', course=course) }}">Reset saved questions</a><br>
<br>
<strong>Users</strong>
<br>
Number of users: {{ users_number }}<br>
<a href="{{ url_for('results', course=course) }}">Statistics</a>
<br>
<strong>Topics</strong>
<br>
{% for topic in topics %}

{{ topic.topic}} - {{ topic.type}}: <strong>{{ topic.n_questions }}</strong> questions. 

<br>
{% endfor %}

<br>
<strong>Quiz with all questions</strong>
<br>
{% for topic in topics_list %}

<a href="{{ url_for('all_topic_quiz', course=course, topic=topic.topic) }}">{{ topic.topic }}</a>
<br>

{% endfor %}



</div></div></div>
</section>

</body>
</html>