{% include "header.html" %}

<title>{{ course_name }} - {{ translation['Brush-up'] }}</title>
</head>
<body>

<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">


{%  include "display_lives.html" %}

<h3 class="title">{{ course_name }} - {{ translation['Brush-up'] }}</h3>




{% for i in brushup_availability %}
<a class="button is-large is-fullwidth" style="margin-bottom: 1.2em;"

{% if brushup_availability[i] %}
href="{{ url_for('brush_up',course=course, level=levels[i]) }}"
{% else %}
disabled
{% endif %}

>
{{ translation[level_names[i]] }}
</a>
{% endfor %}


</div></div></div>
</section>

</body>
</html>