<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics - {{ course }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>

<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">


{%  include "display_lives.html" %}

<h3 class="title">{{ course }}</h3>


<h3 class="title">{{ translation['Brush-up'] }}</h3>


to be implemented ...


</div></div></div>
</section>

</body>
</html>