{% include "header.html" %}

<title>{{ course_name }} - Management</title>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    /* Optional: Add some style for the canvas */
    canvas {
        max-width: 600px;
        /*margin: 50px auto;*/
        display: block;
    }
</style>
</head>
<body>

<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">

<p class="title is-4">{{ course }}</p>

<p class="title is-size-5">Quizz management</p>
<br>
<div class="block">
<a href="{{ url_for('home', course=course) }}" class="button is-link">Go to quizz</a>
</div>


{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
{{ message }}
<br>
{% endfor %}
{% endif %}
{% endwith %}

<div class="box">

<p class="title is-4">Quizz</p>

<div class="block">
<a href="{{ url_for('edit_parameters', course=course) }}" class="button">Edit parameters</a>

<a href="{{ url_for('add_lives', course=course) }}" class="button">Add lives to manager</a>
</div>

</div>


<div class="box">

    <p class="title is-4">Topics</p>

    {#
    <div class="block">
    <a href="{{ url_for('new_topic', course=course) }}" class="button">Create a new topic</a>
    </div>
    #}

    <br>
    {% for topic in topics %}
    
    {{ topic.topic}} - {{ topic.type}}: <a href="{{ url_for('all_topic_questions', course=course, topic=topic.topic)}}"><strong>{{ topic.n_questions }}</strong> questions</a>. 
    
    <br>
    {% endfor %}
    
    <br>
    
    </div>





<div class="box">

<p class="title is-4">Questions</p>

<div class="block">Number of questions in course: {{ questions_number }}</div>

<div class="block">


<div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Create a new question</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="{{ url_for('edit_question', course=course, question_id=-1, return_url=return_url) }}" class="dropdown-item">True / False</a>
            <a href="{{ url_for('edit_question', course=course, question_id=-2, return_url=return_url) }}" class="dropdown-item">Multichoice</a>
            <a href="{{ url_for('edit_question', course=course, question_id=-3, return_url=return_url) }}" class="dropdown-item">Short Answer</a>
          </div>
        </div>
      </div>


</div>








<div class="block">
<a href="{{ url_for('load_questions', course=course) }}" class="button">Load questions from file</a>
</div>


<div class="block">
<a class="button" href="{{ url_for('all_questions', course=course) }}">Display all questions</a><br>
</div>

<div class="block">
<a  class="button" href="{{ url_for('all_images', course=course) }}">Display all images</a><br>
</div>


<div class="block">
<a  class="button" href="{{ url_for('deleted_questions', course=course) }}">Deleted questions</a><br>
</div>


<a href="{{ url_for('all_questions_gift', course=course) }}">Display questions (GIFT)</a><br>

</div>



<div class="box">

<p class="title is-4">Bookmarks</p>

<a  class="button" href="{{ url_for('bookmarked_questions', course=course) }}">Display bookmarks</a><br>
<a  class="button is-danger" href="{{ url_for('reset_bookmarked_questions', course=course) }}">Reset bookmarks</a><br>



</div>



<div class="box">

<p class="title is-4">Users</p>


Number of registrered users: {{ users_number }}<br>

Number of active users in last hour: {{ active_users_last_hour }}<br>
Number of active users in last day: {{ active_users_last_day }}<br>
Number of active users in last week: {{ active_users_last_week }}<br>
Number of active users in last month: {{ active_users_last_month }}<br>

<br>
<b>Number of users by day</b><br>
<canvas id="users_by_day"></canvas>
<br>


<b>Number of answers by day</b><br>
<canvas id="answers_by_day"></canvas>
<br>


<b>Number of answers by hour of the day</b><br>
<canvas id="by_hour"></canvas>
<br>



<a href="{{ url_for('results', course=course, mode='mean') }}">User results (mean)</a><br>
<br>

<a href="{{ url_for('results', course=course, mode='by_topic') }}">User results (by topic)</a><br>
<br>
</div>





<div class="box">

<p class="title is-4">Quiz with all questions</p>

<br>
{% for topic in topics_list %}

<a href="{{ url_for('all_topic_quiz', course=course, topic=topic.topic) }}">{{ topic.topic }}</a>
<br>

{% endfor %}
</div>


</div></div></div>
</section>


<script>
    // Get the canvas element by its ID
    var ctx = document.getElementById('answers_by_day').getContext('2d');

    // Create a new bar chart
    var myChart = new Chart(ctx, {
        type: 'bar',  // Type of chart: bar chart
        data: {
            labels: {{ days }},  // X-axis labels
            datasets: [{
                label: 'Number of answers',  // Dataset label
                data: {{ n_questions_by_day }},  // Data for each bar
                /*backgroundColor: 'rgba(54, 162, 235, 0.2)',  // Bar color*/
                /*borderColor: 'rgba(54, 162, 235, 1)',  // Border color*/
                /* borderWidth: 1  // Border width */
            }]
        },
        options: {
            
            scales: {
                y: {
                    beginAtZero: true  // Start Y-axis from zero
                }
            }
        }
    });
</script>


<script>
    // Get the canvas element by its ID
    var ctx = document.getElementById('users_by_day').getContext('2d');

    // Create a new bar chart
    var myChart = new Chart(ctx, {
        type: 'bar',  // Type of chart: bar chart
        data: {
            labels: {{ days }},  // X-axis labels
            datasets: [{
                label: 'Number of users',  // Dataset label
                data: {{ n_users_by_day }},  // Data for each bar
                /*backgroundColor: 'rgba(54, 162, 235, 0.2)',  // Bar color*/
                /*borderColor: 'rgba(54, 162, 235, 1)',  // Border color*/
                /* borderWidth: 1  // Border width */
            }]
        },
        options: {
            
            scales: {
                y: {
                    beginAtZero: true  // Start Y-axis from zero
                }
            }
        }
    });
</script>


<script>
    // Get the canvas element by its ID
    var ctx = document.getElementById('by_hour').getContext('2d');

    // Create a new bar chart
    var myChart = new Chart(ctx, {
        type: 'bar',  // Type of chart: bar chart
        data: {
            labels: {{ hours }},  // X-axis labels
            datasets: [{
                label: 'Number of answers by hour',  // Dataset label
                data: {{ count_by_hour }},  // Data for each bar
                /*backgroundColor: 'rgba(54, 162, 235, 0.2)',  // Bar color*/
                /*borderColor: 'rgba(54, 162, 235, 1)',  // Border color*/
                /* borderWidth: 1  // Border width */
            }]
        },
        options: {
            
            scales: {
                y: {
                    beginAtZero: true  // Start Y-axis from zero
                }
            }
        }
    });
</script>


</body>
</html>