
<div class="columns is-flex is-justify-content-space-between">
<!-- Left-aligned content -->
<div class="column is-narrow">
<p class="is-size-3"><a href="{{ url_for('home', course=course) }}">X</a></p>


</div>

 {% if idx is defined %}
 <!-- Center-aligned content -->
 <div class="level-item has-text-centered">
    <p>
    <progress class="progress is-primary" value="{{ idx + 1 }}" max="{{ total }}"></progress>
    </p>
  </div>
{% endif %}

<!-- Right-aligned content -->
<div class="column is-narrow has-text-right">
<p>
<img src="{{ url_for('send_static', filename='heart.svg') }}" width="30em">

<span class="has-text-danger">{{ lives if lives is not none else ''}}</span>

</p>
</div>
</div>
  