
{# display home, progress and lives #}

<div class="columns is-flex is-justify-content-space-between">
<!-- Left-aligned content -->
<div class="column is-narrow">
{% if no_home is not defined %}
<p class="is-size-4"><a href="{{ url_for('home', course=course) }}">❌</a></p>
{% endif %}
</div>

<!-- Center-aligned content -->
{% if idx is defined %}
<div class="column has-text-centered">
<p>
{% if 'recover' in session %}
<progress class="progress is-primary" value="{{ session['recover'] }}" max="{{ config['N_QUESTIONS_FOR_RECOVER'] }}"></progress>
{% else %}
<progress class="progress is-primary" value="{{ idx }}" max="{{ total }}"></progress>
{% endif %}
</p>
</div>
{% endif %}

<!-- Right-aligned content -->
{% if lives is not none %}
<div class="column is-narrow has-text-right">
<p>
<span style="font-size: 1.6rem;">❤️</span>
{#<img src="{{ url_for('send_static', filename='heart.svg') }}" width="30em" title="{{ translation['Number of lives'] }}">#}

<span class="has-text-danger">{{ lives }}</span>

</p>
</div>
{% endif %}
</div>
