<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback - {{ course }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

</head>
<body>
<style>
.wrap-text-button {
    white-space: normal;
    word-break: break-word; /* Break long words if necessary */
}  
</style>
<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">

                
{%  include "display_lives.html" %}


<div class="is-flex is-align-items-center">
  <figure class="image is-48x48">
    <img src="{{ url_for('send_static', filename='step' + step|string  +'.svg') }}" width="50em">
  </figure>
  <p class="ml-3 is-size-5">{{ topic }}</p>
</div>

<br>

<p class="is-size-4 mb-2">{{ feedback.questiontext }}</p>


<p class="is-size-5 mb-5">{{ translation['Your answer:'] }} <strong>{{ user_answer }}</strong></p>



{% if feedback.correct %}
<a class="button is-success is-fullwidth is-large wrap-text-button"

{% if flag_recovered %}
href="{{ url_for('home', course=course) }}"
{%else%}
href="{{ url_for('question', course=course, topic=topic, step=step,idx=idx+1) }}"
{% endif %}
>
<strong>{{ feedback.result }}</strong>
</a>

{% else %}

<a  class="button is-danger is-fullwidth is-large wrap-text-button"

{% if lives == 0 and not recover %}
href="{{ url_for('home', course=course) }}"
{% else %}
href="{{ url_for('question', course=course, topic=topic, step=step,idx=idx+1) }}"
{% endif %}
>
<strong>{{ feedback.result }}</strong>
</a>

{%endif%}
<br>

{% if flag_max_recover_errors %}


<a  class="button is-warning is-fullwidth is-large wrap-text-button" href="{{ url_for('home', course=course) }}">
  <strong>What a pity! You've failed to recover a life...<br>Click to retry</strong>
</a>

{% endif %}

{% if flag_recovered %}

<a  class="button is-success is-fullwidth is-large wrap-text-button" href="{{ url_for('home', course=course) }}">
<strong>{{ translation["Congratulations! You've recovered one life!"] }}</strong>
</a>

{% endif %}


{% if lives == 0 and not recover %}
<a  class="button is-warning is-fullwidth is-large wrap-text-button" href="{{ url_for('home', course=course) }}">
  <strong>You've lost all your lives...<br>Click to recover them.</strong>
</a>
{% endif %}

{#

{% if not flag_max_recover_errors and not flag_recovered %}
<a href="{{ url_for('question', course=course, topic=topic, step=step,idx=idx+1) }}"  class="button is-fullwidth is-large">{{ translation['Next'] }}</a><br>
{% endif %}

#}

</div>
</div>
</div>
</section>
</body>
</html>