<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback - Duolinzoo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

</head>
<body>
<style>
.wrap-text-button {
    white-space: normal;
    word-break: break-word; /* Break long words if necessary */
}  
</style>
    <section class="section">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-half">

<div class="block">
  <a href="{{ url_for('home') }}" class="button is-link is-small">Home</a>
  <a href="{{ url_for('topic_list') }}" class="button is-link is-small">Topics</a>

</div>
                

<div class="block">
  <strong>{{ topic }}</strong> | {{ idx + 1 }} / {{ total }}
</div>

<div class="block">
  <strong>Score</strong>{{ score }}
  <progress class="progress is-primary" value="{{ score }}" max="1"></progress>
  </div>
  

<h2 class="title">{{ feedback.questiontext }}</h2>


<div class="block">
Your answer:<br>
<strong>{{ user_answer }}</strong>
</div>

{% if feedback.correct %}
<button class="button is-success is-fullwidth is-large">{{ feedback.result }}</button><br>

{%else%}

<button  class="button is-danger is-fullwidth is-large wrap-text-button">{{ feedback.result }}</button><br>
{%endif%}

<br>

<a href="{{ url_for('question', topic=topic, idx=idx+1) }}"  class="button  is-fullwidth is-large">Next</a><br>

</div>
</div>
</div>
</section>
</body>
</html>