<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="box">
            <h1 class="title">
              Duolinzoo
            </h1>

            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    {% endwith %}
    

            <p class="subtitle">
              Welcome {{ session['nickname'] }}!
            </p>

            {% if session['nickname'] %}

            <a class="button is-link" href="/topic_list">View topics</a>

            {%else%}

            <a class="button is-link" href="/login">Login</a>

            <a class="button is-link" href="/new_nickname">New nickname</a>


            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>