<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Duolinzoo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="box">
            <h1 class="title">
              Duolinzoo
            </h1>

    
<div class="block">
<p class="subtitle">
Welcome <strong>{{ session['nickname'] }}</strong>!
</p>
</div>
{% if lives is not none %}
<div class="block">
{% for i in range(lives) %}
&hearts;
{% endfor %}
</div>
{% endif %}


{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}

{% if session['nickname'] %}

    <a class="button is-link " href="{{ url_for('topic_list') }}">View topics</a>

    

    {%else%}

    <a class="button is-link" href="{{ url_for('login') }}">Login</a>

    <a class="button is-link" href="{{ url_for('new_nickname') }}">New nickname</a>


    {%endif%}


          </div>

          {% if session['nickname'] %}
<a href="{{ url_for('logout') }}" class="button is-small is-danger" onclick="return confirmLogout()">Logout</a>
{%endif%}
        </div>


       
        

      </div>



    </div>
  </section>
</body>
<script>
  function confirmLogout() {
    return confirm("Are you sure you want to logout?");
  }
</script>
</html>