{% include "header.html" %}

<title>{{ course_name }}</title>
</head>

<body>
<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">

{%  include "display_lives.html" %}

<div class="box">

{%  include "course_name.html" %}


{% if session['nickname'] == 'admin' or session['manager'] %}
<div class="block">
<a class="button is-warning" href="{{ url_for('course_management', course=course) }}">
Manage quizz
</a>
</div>
{% endif %}


<div class="block">
<p class="subtitle">

{{ translation['Welcome'] }} <strong>{{ session['nickname'] }}</strong>!

</p>
</div>

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}

{% if session['nickname'] %}

<a class="button is-large is-fullwidth"
{% if lives == 0 %}
disabled
{% else %}
href="{{ url_for('topic_list', course=course) }}"
{% endif %}

style=" margin-bottom: 1.2em;"

>{{ translation['View topics'] }}</a>

<a class="button is-large is-fullwidth " href="{{ url_for('recover_lives',course=course) }}" style="margin-bottom: 1.2em;">
{{ translation['Recover lives'] }}
</a>

<a class="button is-large is-fullwidth "  style="margin-bottom: 1.2em;"
{% if brushup_availability %}
href="{{ url_for('brush_up_home',course=course) }}"
{% else %}
disabled
{% endif %}
>
{{ translation['Brush-up'] }}
</a>

{% else %}

    {% if login_mode == 'google_auth' %}
        <a class="button is-link" href="{{ url_for('google_auth.login') }}">Login con Google</a>
    {% else %}
        <a class="button is-link" href="{{ url_for('local_login', course=course) }}">Login</a>
        <a class="button is-link" href="{{ url_for('new_nickname',course=course) }}">{{ translation['New nickname'] }}</a>
    {% endif %}

{% endif %}

</div>

{% if session['nickname'] %}

<div class="is-pulled-right">
<a href="{{ url_for('settings', course=course) }}">
<span style="font-size: 1.6rem;">⚙️</span>
</a>
<br>
<a href="{{ url_for('google_auth.logout', course=course) }}" class="button is-danger" onclick="return confirm_()">
{{ translation['Logout'] }}</a>
</div>


{%endif%}

</div>

</div>

</div>
</section>
</body>
<script>

function confirm_() { return confirm("Are you sure?"); }

function navigateToPage(url) { window.location.href = url; }

</script>

</html>
