{# popup parameters #}

<style>
  
#fullscreenPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* transparent */
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal center */
    z-index: 1000;
    visibility: hidden; /* hidden by default */
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    color: white;
}

  /* Quand le popup est visible */
  #fullscreenPopup.show {
      visibility: visible;
      opacity: 1;
  }

  #fullscreenPopup img {
    margin-top: 20px; 
    max-width: 90%; 
    height: 100%;  /* auto */
}

#fullscreenPopup video {
    /*margin-top: 20px; 
    max-width: 90%; */
    height: 100%;  /* auto */
}


/* Text centered after image */
   #fullscreenPopup .popup-text {
    margin-top: 0px; 
    text-align: center; 
    font-size: 2.5rem; 
    font-weight: bold;
}
</style>
