{% include "header.html" %}

<title>{{ course_name }} - Question</title>
</head>
<body>
<style>
.wrap-text-button {
    white-space: normal;
    word-break: break-word; /* Break long words if necessary */
}  
</style>
<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">

{%  include "display_lives.html" %}

<div class="is-flex is-align-items-center">
  <figure class="image is-48x48">
    <img src="{{ url_for('send_static', filename='step' + step|string  +'.svg') }}" width="50em">
  </figure>
  <p class="ml-3 is-size-4">{{ topic }}</p>
</div>

{#   {% if 'recover' not in session %} - {{ config.STEP_NAMES[step - 1] }} {% endif %} #}

<br>


{% if lives == 0 and not recover %}

<a  class="button is-danger is-fullwidth is-large wrap-text-button" href="{{ url_for('recover_lives', course=course) }}">
  <strong>You've lost all your lives...<br>Click to recover them.</strong>
  </a>

{% else %}

<p class="is-size-4"><strong>{{ question.questiontext }}</strong></p>

{% if image_list %}
{% for image in image_list %}
<img src="{{ image }}" alt="{{ image }}">
{% endfor %}
{% endif %}


{%if answers %}
<div class="block">
<br>
{% if question.type == 'truefalse' %}
<div class="columns">

<div class="column"><a href="{{ url_for('check_answer', course=course, topic=topic, step=step, idx=idx, user_answer='true') }}" class="button  is-info is-medium">
<strong>{{ translation['TRUE'] }}</strong></a>
</div>

<div class="column"><a href="{{ url_for('check_answer', course=course, topic=topic, step=step, idx=idx, user_answer='false') }}" class="button  is-info is-medium">
<strong>{{ translation['FALSE'] }}</strong></a>
</div>

</div>

{%  else %}
{# multichoice #}
{% for answer in answers %}
<div class="columns">
<div class="column is-full">
<a href="{{ url_for('check_answer', course=course, topic=topic, step=step, idx=idx, user_answer=answer.text) }}" class="button is-info is-medium is-fullwidth wrap-text-button"><strong>{{ answer.text }}</strong></a><br>
</div>
</div>
{%endfor%}

{% endif %}

</div>

{%else%}
{# shortanswer or numerical #}
<form action="{{ url_for('check_answer', course=course, topic=topic, step=step, idx=idx) }}" method="post">
  <br>
<div class="field">
    <label class="label">{{ translation['Your answer'] }}</label>
    <div class="control">
      <input name="user_answer" class="input" step="0.00001" type="{{ type_ }}" placeholder="{{ placeholder }}">
    </div>
</div>

<div class="field">
    <div class="control">
      <button class="button is-link">{{ translation['Submit the answer'] }}</button>
    </div>
</div>
</form>
{%endif%}

{% endif %}{# lives == 0 #}




</div>
</div>
</div>
</section>


</body>
</html>