<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question - Duolinzoo</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
<style>
.wrap-text-button {
    white-space: normal;
    word-break: break-word; /* Break long words if necessary */
}  
</style>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">

                  <div class="block">
                    <a href="{{ url_for('home') }}" class="button is-link is-small">Home</a>
                    <a href="{{ url_for('topic_list') }}" class="button is-link is-small">Topics</a>
                  
                  </div>
<div class="block">
{{ topic }} | {{ idx + 1 }} / {{ total }}
</div>

<h2 class="title">{{ question.questiontext }}</h2>

{% if image_list %}
{% for image in image_list %}
<img src="{{ image }}" alt="{{ image }}">
{% endfor %}
{% endif %}


{%if answers %}
<div class="block">
<br>
{% if question.type == 'truefalse' %}
<div class="columns">

<div class="column"><a href="{{ url_for('check_answer', topic=topic, idx=idx, user_answer='true') }}" class="button  is-info is-large">VERO</a></div>
<div class="column"><a href="{{ url_for('check_answer', topic=topic, idx=idx, user_answer='false') }}" class="button  is-info is-large">FALSO</a></div>

</div>

{%  else %}
{# multichoice #}
{% for answer in answers %}
<div class="columns">
<div class="column is-full">
<a href="{{ url_for('check_answer', topic=topic, idx=idx, user_answer=answer.text) }}" class="button is-info is-large is-fullwidth  wrap-text-button">{{ answer.text }}</a><br>
</div>
</div>
{%endfor%}

{% endif %}

</div>

{%else%}
{# shortanswer or numerical #}
<form action="{{ url_for('check_answer', topic=topic, idx=idx) }}" method="post">
<div class="field">
    <label class="label">Your answer</label>
    <div class="control">
      <input name="user_answer" class="input" step="0.00001" type="{{ type_ }}" placeholder="{{ placeholder }}">
    </div>
</div>

<div class="field">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
</div>
</form>
{%endif%}



</div></div>

</div>
</section>


</body>
</html>