{% include "header.html" %}

<title>Recover lives - {{ course }}</title>

</head>
<body>

<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">

{%  include "display_lives.html" %}

{%  include "course_name.html" %}


<p class="is-size-4 mb-4">{{ translation['Recover lives'] }}</p>

<p class="is-size-5 mb-4">
Il quiz di recupero è composto da  {{ n_questions }} domande e devi rispondere bene a {{ n_questions_ok }} domande.
</p>

<a class="button is-warning is-large is-fullwidth" style="margin-bottom: 1.2em;" href="{{ url_for('recover_quiz', course=course) }}">
{{ translation['Start now !'] }}
</a>


</div></div></div>
</section>

</body>
</html>