{% include "header.html" %}

<title>Saved questions - {{ course }}</title>

</head>
<body>
<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">


<div class="block">
<a href="{{ url_for('course_management', course=course) }}" class="button is-link">Course management</a>
</div>
        


{% for question in questions %}

{{ question.name }}<br>
{{ question.type }}<br>
{{ question['questiontext'] }}<br>

<a class="button is-link is-small" href="{{ url_for('edit_question', course=course, question_id=question['id']) }}">
{{ translation['Edit question'] }}</a>

<a class="button is-link is-small" href="{{ url_for('delete_bookmark', course=course, question_id=question['id']) }}">
    {{ translation['Remove from saved questions'] }}</a>
    

<hr>


{% endfor %}


</div>
</div>
</div>
</section>
</body>
</html>