<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics - {{ course }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>

<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">


{%  include "display_lives.html" %}

<h3 class="title">{{ course }} - {{ topic }}</h3>


{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}



{% for step in range(1, n_steps + 1) %}

<a class="button is-large is-fullwidth" style=" margin-bottom: 1.2em;" 

{% if step > 1 and steps_active[step - 1] < n_quiz_by_step %}
       disabled
{% else %}
    href="{{ url_for('step', course=course, topic=topic, step=step) }}"
{% endif %}


>


<img src="{{ url_for('send_static', filename='step' + step|string  +'.svg') }}" width="30em">
&nbsp;
{{ step_name[step-1] }}
&nbsp;&nbsp;

<progress class="progress is-primary" value="{{ steps_active[step] }}" max="{{ n_quiz_by_step }}"></progress>


</a>


{% endfor %}


</div></div></div>
</section>

</body>
</html>