<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">

          <div class="block">
            <a href="/" class="button is-link is-small">Home</a>
          
          </div>

{% for topic in topics %}

<a href="/view_topic/{{ topic }}"><button class="button is-large is-fullwidth">{{ topic }}</button></a>

{%endfor%}

</div></div></div>
</section>

</body>
</html>