<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <header>
    <h1>{{ topic }}</h1>
  </header>

  <main>
    <p>
        
{% for step in step_list %}

<a href="/view_quiz/{{ topic }}/{{ step.idx }}"><BUTTON {% if step.disabled %}disabled="disabled"{%endif%}><h3>{{ step.name }}</h3></BUTTON></a>



{% endfor %}
    </p>
  </main>

  <footer>
    <p>Università di Torino</p>
  </footer>
</body>
</html>