<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
  

  <section class="section">
    <div class="container">
        
{% for step in step_list %}

<a href="/view_quiz/{{ topic }}/{{ step.idx }}"><BUTTON class="button is-large is-fullwidth" {% if step.disabled %}disabled{%endif%}><h3>{{ step.name }}</h3></BUTTON></a>



{% endfor %}
    </p>
  </div>
</section>
</body>
</html>