<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ course_name }} - {{ translation['Topics'] }}</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>

<section class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-half">


{%  include "display_lives.html" %}

<h3 class="title">{{ course_name }} - {{ translation['Topics'] }}</h3>

{% for topic in topics %}

<a class="button is-large is-fullwidth" href="{{ url_for('steps', course=course, topic=topic) }}" style="margin-bottom: 1.2em;">

<span style="position: relative; z-index: 1; display: block; text-align: center;">{{ topic }}</span>

{#
{% if scores[topic] %}
<progress class="progress is-small {% if scores[topic] < 0.7 %}is-danger{% else %}is-success{% endif %}" value="{{ scores[topic] }}" max="1" 
style="position: absolute; bottom: 0.5em; left: 0; width: 100%; height: 0.5em;">
</progress>
{% endif %}
#}
</a>

{% endfor %}


</div></div></div>
</section>

</body>
</html>